.Card {
    position: relative;
    width: 5vw;
    height: calc(5vw * 1.4);
    border: 1px solid black;
    border-radius: 8%;
    overflow: hidden;
}

.Card .card-back {
    background-color: lightgreen;
    height: 100%;
    width: 100%;
}

.Card.red {
    color: red;
}

.Card.black {
    color: black;
}

.Card .rank-top {
    position: absolute;
    left: 5%;
    top: 5%;
}

.Card .rank-bottom {
    position: absolute;
    right: 5%;
    bottom: 5%;
}

.Card .suit {
    position: absolute;
    top: 50%;
    left: 50%;
}
